.video-player-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.emotion-preview-container {
  height: 200px;
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 970px) {
  .emotion-preview-container {
    height: 450px;
  }
}

.static-graphs {
  margin-top: 30px;
}

.right-pane {
  margin-top: 10px;
}

@media (min-width: 970px) {
  .right-pane {
    margin-top: 0px;
  }
}

.reading-ease {
  padding-top: 30px;
  min-height: 220px;
}
