<div fxLayout="row" class="colored box" fxLayoutAlign="space-between start">
  <div fxFlex>
    <app-sentiments-preview [markers]="currentMarkerObservable"></app-sentiments-preview>
  </div>
  <div fxFlex="42">
    <vg-player (onPlayerReady)="onPlayerReady($event)" class="videoEmotion">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>
        <vg-time-display property="current" format="mm:ss"></vg-time-display>
        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
<vg-time-display property="left" format="mm:ss"></vg-time-display>
<vg-time-display property="total" format="mm:ss"></vg-time-display>
<vg-track-selector></vg-track-selector>
<vg-mute></vg-mute>
<vg-volume></vg-volume>
<vg-fullscreen></vg-fullscreen>
</vg-controls>
<video vg-media #media id="singleVideo" preload="auto" crossorigin>
  <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
  <track kind="subtitles" label="English" src="assets/mocks/subtitles.mp4.vtt" srclang="en">
</video>
</vg-player>
</div>
<div fxFlex="52">
  <div fxLayout="row" fxFill fxLayoutAlign="space-between start">
    <div fxFlex="69">
      <app-emotion-preview [markers]="currentMarkerObservable"></app-emotion-preview>
    </div>
    <div fxFlex="30">
      <app-transcription-preview [markers]="timeMarkersObservable" [selectedMarker]="currentMarkerObservable" (markerClick)="selectMarker($event)"></app-transcription-preview>
    </div>
  </div>
</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">
  <div fxFlex="48">
    <h3>Emotions Timeline</h3>
    <hr>
    <app-emotion-time-line [markers]="currentMarkerersObservable"></app-emotion-time-line>
  </div>
  <div fxFlex="48">
    <h3>Sentiment Timeline</h3>
    <hr>
    <app-sentiment-time-line [markers]="currentMarkerersObservable"></app-sentiment-time-line>
  </div>
</div>
<!--<app-real-time-analysis></app-real-time-analysis>
<app-static-data-analysis></app-static-data-analysis>-->