<div fxLayout="column" fxLayoutAlign="space-between stretch">
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <app-sentiments-preview fxFlex="4" fxLayoutAlign="space-between stretch" [markers]="currentMarkerObservable"></app-sentiments-preview>
    <div fxFlex="41">
      <vg-player (onPlayerReady)="onPlayerReady($event)" class="videoEmotion">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
          <vg-time-display property="current" format="mm:ss"></vg-time-display>
          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
          <vg-time-display property="left" format="mm:ss"></vg-time-display>
          <vg-time-display property="total" format="mm:ss"></vg-time-display>
          <vg-track-selector></vg-track-selector>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video vg-media #media id="singleVideo" preload="auto" crossorigin>
          <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
          <track kind="subtitles" label="English" src="assets/mocks/subtitles.mp4.vtt" srclang="en">
        </video>
      </vg-player>
    </div>
    <div fxFlex="51">
      <div fxLayout="row" fxFill fxLayoutAlign="space-between strecth">
        <app-transcription-preview fxFlex="40" [markers]="timeMarkersObservable" [selectedMarker]="currentMarkerObservable" (markerClick)="selectMarker($event)"></app-transcription-preview>
        <app-emotion-preview fxFlex="59" [markers]="currentMarkerObservable"></app-emotion-preview>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">
  <div fxFlex="49">
    <h3>Emotions Timeline</h3>
    <hr>
    <app-emotion-time-line [markers]="currentMarkerersObservable"></app-emotion-time-line>
  </div>
  <div fxFlex="49">
    <h3>Sentiment Timeline</h3>
    <hr>
    <app-sentiment-time-line [markers]="currentMarkerersObservable"></app-sentiment-time-line>
  </div>
</div>
