#gauge {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 30px;
  background-color: #ddd;
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
}

#bar {
  position: absolute;
  width: 100%;
  height: 1%;
  background-color: #4CAF50;
  text-align: center;
}

#needle{
    background-color: black;
    height: 2px;
    display: block;
    position: absolute;
    width: 130%;
    margin-left: -15%;
}