<div fxLayout="column" *ngIf="textAnalytics" fxLayoutAlign="center stretch" fxFlex>
  <div fxFlex="50">
    <tabset>
      <tab heading="Flesch Kincai Reading Ease">
        <app-reading-ease-preview [readabilityTest]="fleschKincaidReadability" [readingEasePercentage]="textAnalytics.fleschKincaidReadingEase "></app-reading-ease-preview>
      </tab>
      <tab heading="Gunning Fog Score">
        <app-reading-ease-preview [readabilityTest]="gunningFogReadability" [readingEasePercentage]="textAnalytics.gunningFogScore"></app-reading-ease-preview>
      </tab>
      <tab heading="Coleman Liau Index">
        <app-reading-ease-preview [readabilityTest]="colemanLiauReadability" [readingEasePercentage]="textAnalytics.colemanLiauIndex"></app-reading-ease-preview>
      </tab>
      <tab heading="SMOG Index">
        <app-reading-ease-preview [readabilityTest]="smogReadability" [readingEasePercentage]="textAnalytics.smogIndex"></app-reading-ease-preview>
      </tab>
      <tab heading="Automated Readability Index">
        <app-reading-ease-preview [readabilityTest]="automatedReadability" [readingEasePercentage]="textAnalytics.automatedReadabilityIndex"></app-reading-ease-preview>
      </tab>
      <tab heading="Spache Readability Score">
        <app-reading-ease-preview [readabilityTest]="spacheReadability" [readingEasePercentage]="textAnalytics.spacheReadabilityScore"></app-reading-ease-preview>
      </tab>
      <tab heading="Dale Chall Readability Score">
        <app-reading-ease-preview [readabilityTest]="daleChallReadability" [readingEasePercentage]="textAnalytics.daleChallReadabilityScore"></app-reading-ease-preview>
      </tab>
    </tabset>
  </div>
  <div fxFlex="30" fxLayoutAlign="space-between center" fxLayout="row">
    <div fxFlex="30">
      <app-word-cloud fxFlex [textAnalytics]="textAnalyticsObservable"></app-word-cloud>
    </div>
    <div fxFlex="60">
      <p>{{textAnalytics.text}}</p>
    </div>
  </div>
</div>
