<div class="row insights-display-container" *ngIf="insight">
  <div class="col-xs-12 insight-options">
    <ol class="breadcrumb  pull-right">
      <li (click)="selectInsight(insightTypes.Personality)"><a [ngClass]="{active: selectedInsightType==insightTypes.Personality}">Personality</a></li>
      <li (click)="selectInsight(insightTypes.ConsumerNeeds)"><a [ngClass]="{active: selectedInsightType==insightTypes.ConsumerNeeds}"> Consumer Needs</a></li>
      <li (click)="selectInsight(insightTypes.Values)"><a [ngClass]="{active: selectedInsightType==insightTypes.Values}">Values</a></li>
    </ol>
  </div>
  <div class="col-xs-12 insight-info">
    <div class="row insight-info-container">
      <div class="col-xs-12 insight-labels text-center">
        <span class="label label-danger" *ngFor="let trait of rootLabels" (click)="selectRootTrait(trait.id)">{{trait.name}}</span>
      </div>
      <div class="col-xs-12 insight-graph" *ngIf="showGraph">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="chartName"></canvas>
      </div>
    </div>
  </div>
</div>
