<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb  pull-right">
      <li (click)="selectInsight(insightTypes.Personality)"><a [ngClass]="{active: selectedInsightType==insightTypes.Personality}">Personality</a></li>
      <li (click)="selectInsight(insightTypes.ConsumerNeeds)"><a [ngClass]="{active: selectedInsightType==insightTypes.ConsumerNeeds}"> Consumer Needs</a></li>
      <li (click)="selectInsight(insightTypes.Values)"><a [ngClass]="{active: selectedInsightType==insightTypes.Values}">Values</a></li>
    </ol>
  </div>
  <div class="col-xs-12">
    <div class="row" *ngIf="selectedInsightType==insightTypes.Personality">
      <div class="col-xs-12">

        <div class="row insight">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-4">
                <span>Emotional range:</span>
              </div>
              <div class="col-xs-8">
                <span class="label label-success">Fiery</span>
                <span class="label label-primary">Prone to worry</span>
                <span class="label label-info">Melancholy</span>
                <span class="label label-warning">Immoderation</span>
                <span class="label label-danger">Self-consciousness</span>


              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="percent-bar percent-bar-and-score--percent-bar">
                  <div class="percent-bar--meter" style="-webkit-transform: translate(95%); transform: translate(95%)">
<div class="percent-bar--ball percent-bar--ball_POSITIVE-FILL"></div>
<div class="percent-bar-and-score--number"> 95% </div>
</div>
<div class="percent-bar--meter" style="-webkit-transform: translate(33%); transform: translate(33%)">
<div class="percent-bar--ball percent-bar--ball_POSITIVE-FILL"></div>
<div class="percent-bar-and-score--number"> 33% </div>
</div>

<div class="percent-bar--meter" style="-webkit-transform: translate(22%); transform: translate(22%)">
<div class="percent-bar--ball percent-bar--ball_POSITIVE-FILL"></div>
<div class="percent-bar-and-score--number"> 22% </div>
</div>

</div>
</div>
</div>


</div>
</div>

<hr>
<div class="row insight">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-12">
            <span>Openness</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <span class="label label-success">Fiery</span>
            <span class="label label-primary">Prone to worry</span>
            <span class="label label-info">Melancholy</span>
            <span class="label label-warning">Immoderation</span>
            <span class="label label-danger">Self-consciousness</span>
          </div>
        </div>
      </div>


      <div class="col-xs-6">
        <div class="percent-bar percent-bar-and-score--percent-bar">
          <div class="percent-bar--meter" style="-webkit-transform: translate(95%); transform: translate(95%)">
<div class="percent-bar--ball percent-bar--ball_POSITIVE-FILL"></div>
<div class="percent-bar-and-score--number"> 95% </div>
</div>

<div class="percent-bar--meter" style="-webkit-transform: translate(33%); transform: translate(33%)">
<div class="percent-bar--ball percent-bar--ball_POSITIVE-FILL"></div>
<div class="percent-bar-and-score--number"> 33% </div>
</div>

</div>

</div>
</div>


</div>
</div>

<div class="row" *ngIf="selectedInsightType==insightTypes.ConsumerNeeds">
  <div class="col-xs-12">
  </div>
</div>
<div class="row" *ngIf="selectedInsightType==insightTypes.Values">
  <div class="col-xs-12">

  </div>
</div>
</div>
</div>