.gaugeChart {
  height: 80%;
}

@media (min-width: 970px) {
  .gaugeChart {
    height: 90%;
  }
}

.gauge-text {
  height: 10%;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 970px) {
  .gauge-text {
    height: 5%;
  }
}

.gauge-chart-container {
  height: 100%;
}
