<div fxLayout="column" fxFill fxLayoutAlign="space-between stretch" >
  <div fxFlex="10">
    <ol class="breadcrumb  pull-right">
      <li (click)="selectEmotionGraph(graphs.bars)"><a [ngClass]="{active: selectedGraph==graphs.bars}">Bars</a></li>
      <li (click)="selectEmotionGraph(graphs.doughnut)"><a [ngClass]="{active: selectedGraph==graphs.doughnut}"> Doughnut</a></li>
      <li (click)="selectEmotionGraph(graphs.radar)"><a [ngClass]="{active: selectedGraph==graphs.radar}">Radar</a></li>
    </ol>
  </div>
  <div fxFlex="90" *ngIf="selectedGraph==graphs.radar">
    <div class="chart-container">
      <canvas baseChart [datasets]="radarChartData" [labels]="chartLabels" [options]="chartOptionsBarRadar" [legend]="chartLegend" [chartType]="chartsNames.radar"
        [colors]="chartColors">
      </canvas>
    </div>
  </div>
  <div fxFlex="90" *ngIf="selectedGraph==graphs.doughnut">
    <div class="chart-container">
      <canvas baseChart [data]="doughnutChartData" [labels]="chartLabels" [options]="chartOptionsBarRadar" [chartType]="chartsNames.doughnut"></canvas>
    </div>
  </div>
  <div fxFlex="90" *ngIf="selectedGraph==graphs.bars">
    <div class="chart-container">
      <canvas baseChart [datasets]="barChartData" id="myCanvas" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend"
        [chartType]="chartsNames.bar" [colors]="chartColors"></canvas>
    </div>
  </div>
</div>
