.emotions-chart-container {
  height: 100%;
}

.graph-options{
  height: 20%;
}

breadcrumb {
  margin-bottom: 0;
}

.breadcrumb>li>a.active {
  color: #777;
}

.breadcrumb>li>a {
  cursor: pointer;
}

.chart-container {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 300px;
}

.lineChart {
  margin-top: 10px;
}

.chart {
  margin-top: 35px;
}

.charts{
  height: 80%;
}


