.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb>li>a.active {
  color: #777;
}

.breadcrumb>li>a {
  cursor: pointer;
}

.chartContainer {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 300px;
}

.lineChart {
  margin-top: 10px;
}

.chart {
  margin-top: 35px;
}

.chartsContainer {
  max-height: 300px;
}
